body {
  background-color: aqua;
}

.texto {
  margin-left: auto;
  margin-right: auto;
}

.texto {
  display: flex;
  justify-content: center;
}

.img {
  display: flex;
  justify-content: center;
}

.audio {
  display: flex;
  justify-content: center;
}

.botao {
  display: flex;
  justify-content: center;
}
