body {
  background-image: url("PRIMO/imatgens/truco.jpg");
}

.texto {
  margin-left: auto;
  margin-right: auto;
  display: flex;
  justify-content: center;
  color: aqua;
}

.img {
  display: flex;
  justify-content: center;
}

.audio {
  display: flex;
  justify-content: center;
}

.botao {
  display: flex;
  justify-content: center;
}
